/* Journey to the Center of the of the Earth Practicum */
/* Karen Stagg */

/* Body Section */
body {
    box-sizing: border-box;
    background: linear-gradient(to bottom, #765729, black);
}

/* Main Structural Elements - general Formatting */
header, nav, main, aside, footer {
    margin: .2em .2em;
    padding: 1em;
    border: .3em solid #886644;
    box-shadow: inset 8px 8px 5px  grey;
    background: white;
    opacity: 75%;
}

/* Header Section - OUR HERO */
/* Give header cave background, rounded corners, extra shadowing */
header {
    border-radius:  1em 1em 0em 0em ;
    background-image: url(../img/cave.jpg);
    box-shadow: inset 30px 24px 16px black;
}

h1 {
    font-family: Georgia;
    font-size: x-large;
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px 10px black;
    text-align: center;
    height: 3em;
    padding-top: .2em;
    padding-left: 25px;
    padding-right: 25px;
}

/* Non-English Formatting Section */
:lang(fr), :lang(is), :lang(it) {
    font-style: italic;
}

/* Character Names Formatting Section */
.character {
    font-weight: bold;
}

/* Underlining h2 parent th dashed line to end */
h2 {
    border-bottom: 1px dashed black;
}

/* Links Section */
/* Change appearance of links: nav and footer*/
a {
    color: black;
}

a:link {
    text-decoration: none;
    }

a:hover {
    text-decoration: underline;
    color: #765729;
}

/* Navigation Section */
/* format page navigation  */
nav ul  {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 1 auto;
    justify-content: center;
    
}
nav ul li {
    padding: 0em 8px;
    border-right: 3px double black;
}

nav ul li:last-child {
    border-right: none;
}

/* Main Section */
/* float book image and make first line larger text */
main #cover {
    float: left;
    width: 12em;
    padding: 0em 1em 1em 0em;
}

main :nth-child(3):first-line {
    /* remember to clear float */
    clear: both;
    font-size: 1.2em;
}

main ul {
    text-align: left;
    padding-left: 2em;
}

/* Make cryptogram image flex */
main #cryptogram img {
    display: flex;
    max-width: 100%;
}

main #cryptogram figcaption {
    justify-self: center;
    font-style: italic;
}
 
/* Aside Section */
/* Keep at bottom of page  */
aside .submission {
    border: 1px solid black;
    /* Creating gap in borders */
    margin-bottom: 10px;
    padding-left: .5em;
    padding-right: .5em;
    /* Differentiate background color */
    background-color: whitesmoke;
    opacity: 75%;
}

aside .opinion {
    text-align: center;
    padding: .5em;
}

aside .signature {
    text-align: right;
    font-style: italic;
    padding-right: 7px;
}

/* Footer Section */
footer {
    border-radius:  0em 0em 1em 1em;
    text-align: center;
    font-weight: bold;
}

